:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-txt-cl: #212121;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196F3;
  --grey-txt-cl: #757575;
  --main-bg-cl:#2F303A;
  --secondary-bg-cl:#F5F4FA;
  --next-bg-cl: #FFFFFF;
  --blue-bg-cl: #2196F3;
  --grey-bg-cl: #F5F4FA;
  --lightgrey-bg-cl: #AFB1B8;
  --blue-bg-rgba: rgba(33, 150, 243, 0.9);
  --anim-fast: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container--header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ECECEC;
}

.logo-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: currentColor;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
}
.logo-title__accent {
  color: #2196F3;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.contacts-list__link-info {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: var(--grey-txt-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--anim-fast);
          transition-duration: var(--anim-fast);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.contacts-list__icon {
  fill: currentColor;
}
.contacts-list__link-info:hover, .contacts-list__link-info:focus {
  color: var(--accent-txt-cl);
}

.nav {
  margin-right: auto;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  color: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--anim-fast);
          transition-duration: var(--anim-fast);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
}
.nav__link.active {
  color: var(--accent-txt-cl);
  position: relative;
}
.nav__link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--blue-bg-cl);
  border-radius: 2px;
}

.main {
  background: var(--main-bg-cl);
  padding: 200px 0px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bacground/main-bg-sq.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bacground/main-bg-sq.jpg");
  background-repeat: no-repeat;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.main__main-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.main .btn {
  padding: 10px 31px;
  width: 216px;
  border: none;
  border-radius: 4px;
  min-height: 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background: #2196F3;
  cursor: pointer;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.features-list__iteam {
  width: 270px;
  list-style: none;
  margin-bottom: 0px;
}
.features__description {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
}

.box-icon-antenna,
.box-icon-clock,
.box-icon-diagram,
.box-icon-astronaut {
  display: block;
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  padding: auto;
  background: var(--grey-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

.activity {
  padding-bottom: 94px;
}
.activity__container {
  position: relative;
}
.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.activity__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
.activity-list__iteam {
  list-style: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.activity__desc {
  position: absolute;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--light-txt-cl);
}

.team {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
  min-height: 708px;
  margin-left: auto;
  margin-right: auto;
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
.team-list-item {
  background-color: var(--next-bg-cl);
  list-style: none;
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-compound__title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  text-align: center;
  margin-bottom: 10px;
}
.team-compound__list-title {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
  text-align: center;
  margin-bottom: 15px;
}
.team-compound {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socials-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--lightgrey-bg-cl);
  width: 44px;
  height: 44px;
  background-color: var(--light-txt-cl);
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: var(--anim-fast);
          transition-duration: var(--anim-fast);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.socials-list__link:hover, .socials-list__link:focus {
  fill: var(--next-bg-cl);
  background-color: var(--blue-bg-cl);
}

.clients {
  background: var(--light-txt-cl);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.clients__caption {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 30px;
}
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.clients-list__item {
  width: 170px;
  height: 92px;
}
.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--lightgrey-bg-cl);
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
  -webkit-transition-duration: var(--anim-fast);
          transition-duration: var(--anim-fast);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--blue-bg-cl);
  border: 1px solid var(--blue-bg-cl);
}

.footer {
  background: var(--main-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 252px;
  margin-left: auto;
  margin-right: auto;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer .link {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-social-link {
  margin-left: 93px;
}
.footer-social-link__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
}
.footer-socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-socials-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--light-txt-cl);
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--anim-fast);
          transition-duration: var(--anim-fast);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.footer-socials-list__link:hover, .footer-socials-list__link:focus {
  background-color: var(--blue-bg-cl);
}
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.logo-title--footer {
  display: block;
  margin-right: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}
.logo-title--footer__accent-1 {
  color: #2196F3;
}
.logo-title--footer__accent-2 {
  color: #ffffff;
}

.address {
  font-style: normal;
}
.address__title {
  margin-bottom: 9px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  font-style: normal;
}
.address-list__iteam:not(:last-child) {
  margin-bottom: 9px;
}

.box-form {
  margin-left: auto;
}
.box-form__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.box-form__input {
  display: block;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2784px;
  color: var(--light-txt-cl);
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-bg-cl);
  -webkit-transition: var(--anim-fast);
  transition: var(--anim-fast);
}
.box-form__input:hover, .box-form__input:focus {
  border-color: var(--blue-bg-cl);
}

.form-btn {
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  color: #FFFFFF;
  margin-left: 12px;
  border: none;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.form-btn__icon {
  margin-left: 10px;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.work-list__iteam {
  min-height: 40px;
  background: var(--secondary-bg-cl);
}
.work-list__btn {
  display: block;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--anim-fast);
          transition-duration: var(--anim-fast);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.work-list__btn:hover, .work-list__btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-ourprojects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.ourprojects-link:hover .overlay,
.ourprojects-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ourprojects-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
}

.ourprojects-link:hover,
.ourprojects-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.ourprojects-iteam {
  list-style: none;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.ourprojects-iteam__thumb {
  position: relative;
  overflow: hidden;
}
.ourprojects-iteam-box {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.ourprojects-iteam-box__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-txt-cl);
}
.ourprojects-iteam-box__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--blue-bg-rgba);
}
.overlay__description {
  color: var(--light-txt-cl);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-transition: opacity var(--anim-fast) var(--cubic-bezier), visibility var(--anim-fast) var(--cubic-bezier);
  transition: opacity var(--anim-fast) var(--cubic-bezier), visibility var(--anim-fast) var(--cubic-bezier);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background: var(--next-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--anim-fast) var(--cubic-bezier);
  transition: -webkit-transform var(--anim-fast) var(--cubic-bezier);
  transition: transform var(--anim-fast) var(--cubic-bezier);
  transition: transform var(--anim-fast) var(--cubic-bezier), -webkit-transform var(--anim-fast) var(--cubic-bezier);
}
.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--next-bg-cl);
  cursor: pointer;
  -webkit-transition-duration: var(--anim-fast);
          transition-duration: var(--anim-fast);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-txt-cl);
}

.register-form__title {
  display: block;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 12px;
}

.register-group {
  margin-bottom: 20px;
}
.register-group__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.register-group__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  width: 200px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background: #2196F3;
  cursor: pointer;
}
.register-group__field {
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.register-group__field:last-child {
  margin-bottom: 0px;
}
.register-group__label {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.register-group__box {
  position: relative;
}
.register-group__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.register-group__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
}
.register-group__input:hover, .register-group__input:focus {
  border-color: var(--blue-bg-cl);
}
.register-group__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  bottom: 12px;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}
.register-group__message {
  display: block;
  resize: none;
  outline: transparent;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.register-group__desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 9px;
}
.register-group__link {
  color: var(--blue-bg-cl);
  text-decoration: underline;
}

.register-group__input:hover + .register-group__icon,
.register-group__input:focus + .register-group__icon {
  fill: var(--blue-bg-cl);
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
  position: absolute;
  left: 0;
}

.icon-unchecked {
  opacity: 1;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
  position: absolute;
  left: 0;
}

.register-group__checkbox:checked + .register-group__icons .icon-checked {
  opacity: 1;
}

.register-group__checkbox:checked + .register-group__icons .icon-unchecked {
  opacity: 0;
}/*# sourceMappingURL=main.css.map */