.contacts-list {
    
    display: flex;
    gap: 50px;

    &__link-info {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--grey-txt-cl);
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        text-decoration: none;
        transition-property: color;
        transition-duration: var(--anim-fast);
        transition-timing-function: var(--cubic-bezier);
    }
    &__icon {
        fill: currentColor;
    
    }
    &__link-info:hover,
    &__link-info:focus {
        color: var(--accent-txt-cl);
    }
}