.logo-title--footer {
    display: block;
    margin-right: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    &__accent-1{
        color: #2196F3;;
    }
    &__accent-2 {
        color: #ffffff;
    }

}

