// main

.main {

    background: var(--main-bg-cl);
    padding-top: 118px;
    text-align: center;
    
    max-width: 1600px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:1200px) {
        min-height: 600px;
        padding: 118px 60px;
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: 
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/bacground/bg/_mob-@1x.jpg");

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url("../images/bacground/bg/_mob-@2x.jpg");
      }

    @media screen and (min-width: 481px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/bacground/bg/_tab-@1x.jpg");

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/bacground/bg/_tab-@2x.jpg");
        }
    }
    @media screen and (min-width: 769px) {

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/bacground/bg/_desk-@1x.jpg");
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
              url("../../images/bacground/bg/_desk-@2x.jpg");
          }
        
    }


    @media screen and (min-width: 1200px) {
        padding: 200px 0px;
    }

    &__main-title {
        margin-top: 0;
        margin-bottom: 30px;
    
        font-weight: 900;
        font-size: 26px;
        line-height: calc(42 / 23);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--light-txt-cl);


    
        @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: calc(60 / 44);
        }
    }
    
}