:root {
    
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    
    --main-txt-cl: #212121;
    --light-txt-cl: #ffffff;
    --accent-txt-cl: #2196F3;
    --grey-txt-cl: #757575;

    
    --main-bg-cl:#2F303A;
    --secondary-bg-cl:#F5F4FA;
    --next-bg-cl: #FFFFFF;
    --blue-bg-cl: #2196F3;
    --grey-bg-cl: #F5F4FA;
    --lightgrey-bg-cl: #AFB1B8;
    --blue-bg-rgba: rgba(33, 150, 243, 0.9);

   
    
    --anim-fast: 250ms;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  
}
